body {
    margin: 0;
    padding: 0;
}
nav {
    float: left;
    margin-top: 20px;
}
nav ul {
    list-style: none;
    position: fixed;
    padding-left: 10px;
}
nav ul a{
    text-decoration: none;
}
.navnext {
    height: 60px;
    padding: 5px;
    float: right;
    background-color: #f3f3f3;
    border-radius: 0px 0px 10px 10px;
}
.navnext ul {
    margin: 0px;
}
.navnext li {
    display: inline-block;
    margin-right: 40px;
    font-size: larger;
}
.navPage {
    height: 25px;
    width: 25px;
    margin-bottom: 10px;
    border: 1px rgb(214, 214, 214) solid;
    border-radius: 50%;

    transition: 0.3s;
}
.navPage:hover {
    background-color: rgba(34, 32, 163, 0.596);
    border: 1px rgb(255, 255, 255) solid;
    height: 26px;
    width: 26px;
    margin-bottom: 9px;

}
.containerNav {
    max-width: 1420px;
    margin: 0 auto;
}
.logo {
    width: 100px;
}
.main-container {
    max-width: 1300px;
    padding-bottom: 700px;
    margin: 0 auto;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.bg-vr {
    padding-top: 220px;
    padding-left: 50px;
}
.oculus{
    height: 350px;
    transition: 0.5s;
}
.oculus:hover{
    transform: translate(7px, 3px);
}
.info {
    margin-top: 250px;
    width: 400px;
}
.noticia {
    margin-top: 50px
}
.imagemCard {
    width: 600px;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px #d0d0d0 solid;
}
.card {
    background-color: #efefef;
    width: 600px;
    cursor: pointer;
    box-shadow: 0px 4px 8px 0px grey;
    transition: 0.3s;
}
.Pnews {
    border-radius: 15px 15px 5px 5px;
}
.Pnews:hover {
    box-shadow: 0px 8px 12px 0px grey;
}
.news {
    padding: 5px;
}
.minicard {
    width: 60px;
    float: left;
}
.div-text {
        color: black;
        font-size: larger;
}
.margin {
    text-align: center;
}