.nav-news {
    height: 60px;
    padding: 5px;
    text-align: center;
    background-color: #f3f3f3;
    border-radius: 0px 0px 50% 50%;
}
.nav-news ul {
    padding: 0;
    margin: 0;
}
.titulo {
    background-color: #f3f3f3;
    padding: 15px;
    border-radius: 10px 10px 0 0;
}
.container {
    background-color: #f3f3f3;
    padding: 10px;
    margin-top: 15px;
    min-height: 500px;
}
#noticia_img {
    width: 100%;
    border-radius: 10px;
}
#noticia_texto {
    font-size: larger;
}
.autor {
    background-color: #f3f3f3;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 0 0 10px 10px;
}
.maxwidth {
    max-width: 1250px;
    margin: 0 auto;
}
.concluir {
    width: 100%;
    padding: 15px;
    font-size: larger;
    color: white;
    background-color: green;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.concluir:hover {
    background-color: rgb(7, 192, 7);
}