body {
    margin: 0;
    padding: 0;
}
.main-container {
    max-width: 1300px;
    margin: 0 auto;
}
.noticia_titulo {
    background-color: #f3f3f3;
    padding: 15px;
    border-radius: 10px;
    margin-top: 30px;
}
.noticia_txt {
    background-color: #f3f3f3;
    margin-top: 10px;
    padding: 15px;
    border-radius: 10px;
}
.noticia_autor {
    background-color: #f3f3f3;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
}
#txt_noticia {
    min-width: 1270px;
    max-width: 1270px;
    min-height: 300px;
    margin-top: 5px;
    font-size: 15px;
}
.btn_opcao {
    background-color: #7fd8ff;
    border: 1px #5c61fd solid;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}
.btn_opcao:hover {
    background-color: #7ff0ff;
    border: 1px #5c87fd solid;
}
#select_cor {
    margin-left: 20px;
}
#input {
    width: 90%;
    height: 25px;
}
.btn {
    background-color: #37cc01;
    padding: 10px;
    border: 1px grey solid;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}
.btn:hover {
    background-color: #00ff40;
}